$color-primary:#1F8A70;
$color-seconday:#FC7300;
$color-tertiary:#00425A;
$color-strong-blue:#181823;

$bg-color:#EFF5F5;
$link-color:#FC7300;


$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.75rem;


